.postrating, .r_clear {
	clear:both;
	font-size:15px;
	overflow: hidden;
}
.r_label, .need_login {
	display: inline-block;
}
.r_score, .r_img, .no_rating, .r_info {
	position:relative;
}
.r_score, .no_rating, .r_info {
	display: inline-block;
}
.r_label, .need_login {
	font-weight:bold;
	margin:0;
}
.r_score {
	top:2px;
	overflow:hidden;
	margin-right: 10px;
}
 .r_img img {
	margin:0;
}
.postrating  .r_img img {
   display: inline;
}

.r_info b {
	font-size:15px;
	color:#f55
}
